.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features-list {
  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
  &__item:first-child {
    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--second-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
