.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url(../images/hero/hero-bg-mob.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url(../images/hero/hero-bg-mob@2x.jpg);
  }
  @include tab {
    background-image: linear-gradient(
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url(../images/hero/hero-bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-gradient-color),
          var(--hero-gradient-color)
        ),
        url(../images/hero/hero-bg-tab@2x.jpg);
    }
  }
  @include desk {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url(../images/hero/hero-bg.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-gradient-color),
          var(--hero-gradient-color)
        ),
        url(../images/hero/hero-bg@2x.jpg);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-text-color);
    max-width: 360px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @include desk {
      font-size: 44px;
      line-height: 1.36;

      max-width: 696px;
    }
  }
}
