body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.title {
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
